/* Styling for the Turing Pattern */

/* ==================================
    Table of content
    ----------------
    1. Global
        - Fonts
        - Variables
        - Selection
        - Scrollbar
    2. Components
        2.1 Body
        2.2 Formulas
        2.3 Canvas
        2.4 Presentation
        
===================================== */

/* ============================
    1. Global
    =============================== */

/* -- Fonts -- */

/* Robot Mono and STIX Two Text from Google Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/**/

/* -- Variables -- */

:root {
    --background: #ffffff;
    --hidden: #686868;
    --accent: #B01A00;
    --primary: #000000;
    --secondary: #333333;
}

/* -- Selection -- */

/* Disable highlight rectangle on mobile */

* {
    -webkit-tap-highlight-color: #ffffff00;
}

/* -- Selection -- */

::-moz-selection {
    color: #eeeeee;
    background: var(--accent);
}

::selection {
    color: #eeeeee;
    background: var(--accent);
}

/* -- Scrollbar -- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background: #00000015;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000030;
}

::-webkit-scrollbar-thumb:active {
    background: var(--accent);
}

/* ============================
    2. Components
=============================== */

/* -- 2.1 Page container -- */

.page-container {
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(150px, 1fr) 4fr 1fr;
}

.page-content {
    padding: 10px;
}

@media (max-width: 768px), (orientation: portrait), (hover: none) {
    .page-container {
        grid-template-columns: none;
    }
    .page-content {
        padding: 40px;
    }
}

/* -- 2.2 Body -- */

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'STIX Two Text', serif;
    color: var(--secondary);
    counter-reset: section;
    counter-reset: part;
    transition: all .3s ease-in-out;
}

/* -- 2.2.1 Text -- */

/* -- Headers -- */

/* Title */

h1 {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
}

/* Part */

h2 {
    margin-top: 60px;
    font-size: 32px;
    font-weight: 700;
    font-variant: small-caps;
    counter-increment: part;
}

h2::before {
    content: counter(part, upper-roman);
    margin-right: 20px;
}

/* Section */

h3 {
    font-size: 28px;
    counter-increment: section;
    counter-reset: subsection;
}

h3::before {
    content: counter(section);
    margin-right: 20px;
}

/* Subsection */

h4 {
    font-size: 22px;
    counter-increment: subsection;
}

h4::before {
    content: counter(section) "." counter(subsection);
    margin-right: 20px;
}

/* -- Paragraphs -- */

p {
    font-weight: normal;
    font-size: 16px;
}

li {
    margin: 5px -5px;
}

/* -- Highlight -- */

mark {
    background-color: #00000020;
}

/* -- 2.2 Formulas -- */

div.formula-container {
    display: grid;
    place-items: center;
    margin: 5px;
}

div.formula-container.compact {
    margin: -15px;
}

div.formula {
    width: fit-content;
    border-radius: 10px;
    padding: 5px 30px;
}

div.formula.grey {
    background-color: #00000010;
}

/* -- 2.3 Canvas -- */

div.canvas {
    width: 100%;
    background-color: #B01A00;
}

/* -- 2.4 Presentation -- */

div.slide {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--background);
    transition: all .3s ease-in-out;
}

div.play-pause-controls {
    position: fixed;
    top: 10px;
    right: 50px;
}

.material-icons.button {
    cursor: pointer;
    user-select: none;
}

span.material-icons.button.pause {
    position: absolute;
    visibility: hidden;
    color: #ffffff75;
}

span.material-icons.button.play {
    position: absolute;
}

div.presentation-controls {
    position: fixed;
    bottom: 0px;
    width: 100%;
    transition: all .3s ease-in-out;
}

div.arrows {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
}

div.progress-bar {
    position: absolute;
    display: block;
    top: -5px;
    width: 0%;
    height: 5px;
    background-color: var(--accent);
    transition: all .4s ease-in-out;
}